:root {
  --blue: #0575E6;
  --chibi: #00ECFD;
  --darkBlue: #021B79;
  --green: #03D361;
  --move: #a10c95;
  --grey: #D9D9D9;
  --bg: #EEEEEE;
  --pink: #FD00A0;
  --font : #131314;
}

* {
  font-family: poppins, sans-serif;
}

body{
  color: var(--font);
  font-family: poppins, sans-serif;
}

h1 {
  font-weight: 800;
  font-family: poppins, sans-serif;
}



.text-prof, .text-admin, .text-student {
  height: 100vh;
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
}

.text-student {
  background: linear-gradient(to bottom, var(--blue),var(--darkBlue));
}

.student {
  background-color: var(--blue);
  color: white;
  border: none;
}

.student:hover {
  background-color: var(--darkBlue);
  color: white;
}

.text-prof {
  background: linear-gradient(to bottom, var(--pink),var(--darkBlue));
}

.prof {
    background-color: var(--pink);
    color: white;
    border: none;
}

.prof:hover {
    background-color: var(--move);
    color: white;
}

.text-admin {
  background: linear-gradient(to bottom, var(--green),var(--darkBlue));
}

.admin {
    background-color: var(--green);
    color: white;
    border: none;
}

.admin:hover {
    background-color: #02c058;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}